<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Phone Your Rep</title>
  <link rel="icon" type="image/png" href="<%= require('./images/favicon.png') %>" />

	<!-- Facebook Meta -->
	<!-- Fix for Deployment -->
	<meta property="og:url" content="http://www.phoneyourrep.com"/>
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Phone Your Rep" />
	<meta property="og:description" content="Download all of your representatives' contact info straight to your phone. Then call them every day." />
  	<meta property="og:image" content="http://www.phoneyourrep.com/<%= require('./images/twitter_meta_card.png') %>" />
	<meta property="fb:app_id" content="1666802596950475" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@phoneyourrep" />
	<meta name="twitter:creator" content="@prog_code" />
	<meta name="twitter:url" content="http://www.phoneyourrep.com" />
	<meta name="twitter:title" content="Phone Your Rep" />
	<meta name="twitter:description" content="Download all of your representatives' contact info straight to your phone. Then call them every day." />
	<meta name="twitter:image" content="http://www.phoneyourrep.com/<%= require('./images/twitter_meta_card.png') %>" />
	<meta name="twitter:image:alt" content="U.S. Capitol" />

	<!-- Fonts && Font Awesome -->
	<link href="https://fonts.googleapis.com/css?family=Raleway|Open+Sans|Alfa+Slab+One" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- Leave these tags here for fast style and image loading. Should find a webpack solution.-->
	<link rel="stylesheet" href="./reset.css">
	<link rel="stylesheet" href="./simple-grid.css">
	<link rel="stylesheet" href="./main.css">
	<style>nav {background-image: url(<%= require('./images/header.png') %>);}</style>
	<!-- -->

	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-91187016-1', 'auto');
	  ga('send', 'pageview');
	</script>
</head>

<body>
	<div class="wrapper">
		<nav style="position:relative; ">
			<!-- Fix for Deployment -->
			<a href="#" id="logo">Phone Your Rep</a>
		</nav>

		<div class="body-content">
			<div class="container">
				<div class="row">
					<div id="capitol" class="col-6">
            			<img src="<%= require('./images/uscapitol.png') %>" alt="US Capitol" style="width: 100%">
					</div>

					<div id="about" class="col-6">
						<h1 class="font-red font-alfa-slab-one font-emphasis">Call local. Call often.</h1>

						<p class="font-gray font-raleway">
							If we want to have an effect on our politics, we need good representation. Our reps need to hear us if they're going to represent us.
						</p>
						<p class="font-gray font-raleway">
							Calling them works, and we've made it easy to download their contact info. Just enter your address.
						</p>

						<form id="form" class="form-group" onsubmit="">
							<p class="font-gray font-raleway form-label">
								Get Your Reps In Your Phone:
							</p>

							<div class="row">
								<div class="col-8 form-address">
									<input name="address" type="text" id="address" class="form-input" placeholder="Your Address">
									<input name="lat" type="hidden" id="lat" value="">
									<input name="lng" type="hidden" id="lng" value="">
								</div>

								<div class="col-4 form-search">
									<div id="submit" class="form-btn">Search</div>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div id="root" class="row">

				</div>


			</div>
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-2"></div>
				<div class="col-8" id="directory">

				</div>
				<div class="col-2"></div>
			</div>
			<div class="row footer-info">
				<div class="col-12 footer-links">
					<a href="https://github.com/phoneyourrep/">
						<i class="fa fa-github font-white footer-icon" aria-hidden="true"></i>
					</a>
					<a href="https://twitter.com/phoneyourrep/" style="padding-left: 1rem;">
						<i class="fa fa-twitter font-white footer-icon" aria-hidden="true"></i>
					</a>
				</div>
			</div>

		</div>

	</footer>

	<!-- JQuery and Google Maps API-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN47V710PFxcFAGY3Gx6hipg7P3CWcQn8&libraries=places&v=3"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>

	<!-- reCAPTCHA  -->
	<!-- Product Hunt -->
	<script>
    var _intro_bar = window._intro_bar || {};(function() {var i,e;i=document.createElement("script"), i.type='text/javascript';i.async=1, i.src="//cdn.introbar.com/js/v1.js", e=document.getElementsByTagName("script")[0], e.parentNode.insertBefore(i,e);})();
    _intro_bar.account_id = '5890f4d409378';
	</script>

</body>

</html>
