<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Phone Your Rep</title>

	<!-- HOW DO I FIX THIS -->
	<link rel="icon" type="image/png" href="<%= require('./images/favicon.png') %>" />

	<!-- Facebook Meta -->
	<!-- Fix for Deployment -->
	<meta property="og:url" content="http://www.phoneyourrep.com" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{official_full}}'s Contact Info'" />
	<meta property="og:description" content="Download all of {{official_full}}'s' contact info straight to your phone. Then call them every day." />
	<meta property="og:image" content="'../static/imgs/twitter_meta_card.png') %>" />
	<meta property="fb:app_id" content="1666802596950475" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@phoneyourrep" />
	<meta name="twitter:creator" content="@prog_code" />
	<meta name="twitter:url" content="http://www.phoneyourrep.com" />
	<meta name="twitter:title" content="Phone Your Rep" />
	<meta name="twitter:description" content="Download all of your representatives' contact info straight to your phone. Then call them every day." />
	<meta name="twitter:image" content="<%= require('./images/twitter_meta_card.png') %>" />
	<meta name="twitter:image:alt" content="U.S. Capitol" />

	<!-- JQuery and Google Maps API-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN47V710PFxcFAGY3Gx6hipg7P3CWcQn8&libraries=places&v=3"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>

	<!-- Fonts && Font Awesome -->
	<link href="https://fonts.googleapis.com/css?family=Raleway|Open+Sans|Alfa+Slab+One" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<!-- Google Analytics -->
	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
		ga('create', 'UA-91187016-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>

<body>
	<div class="wrapper">
		<nav style="position:relative; ">
			<!-- Fix for Deployment -->
			<a href="#" id="logo">Phone Your Rep</a>
		</nav>

		<div class="body-content">
			<div id="root">


				<div data-reactroot="" class="row card-list">
					<div class="col-12 center">
						<div class="card row">
							<div class="col-4">
								<img class="card-photo" src="{{photo}}">

								<div class="card-social">
									{{{socialLink "" url "fa-desktop"}}}
									{{{socialLink "https://www.youtube.com/user/" youtube "fa-youtube-play"}}}
									{{{socialLink "https://www.twitter.com/" twiter "fa-twitter"}}}
									{{{socialLink "https://www.facebook.com/" facebook "fa-facebook"}}}
									{{{socialLink "https://www.instagram.com/" instagram "fa-instagram"}}}
								</div>
							</div>
							<div class="col-8">
								<div class="card-name">
									<h3 class="card-member">{{official_full}}</h3>
									<p class="card-chamber">{{role}}</p>
								</div>
								<div class="card-office-list">
									{{#each office_locations}}
										<div class="card-office">
											<div class="card-office-btn">
												<div class="card-office-btn-office"><i class="fa fa-caret-up fa-white card-office-btn-caret" aria-hidden="true"></i>
													<h1 class="card-office-btn-name font-white">
														{{city}}
													</h1>
												</div>
												<div class="card-office-btn-link"><a class="font-white" href="{{v_card_link}}"><i class="fa fa-arrow-circle-o-down fa-white" aria-hidden="true"></i>Download contact</a></div>
												<div class="spacer"></div>
											</div>
											<div class="card-office-panel row">
												<div class="row">
													<div class="col-6 card-office-panel-phone"><i class="fa fa-phone-square fa-icon fa-fw " aria-hidden="true"></i>
														<p><a href="tel:{{phone}}">{{phone}}</a></p>
													</div>
													<div class="col-6 card-office-panel-office "><i class="fa fa-building fa-icon fa-fw " aria-hidden="true"></i>
														<p>{{ifNull building}}</p>
														<p>{{address}} {{suite}}</p>
														<p>{{city}}{{state}}{{zip}}</p>
													</div>
												</div>
												<div class="row card-office-panel-hours">
													<div class="col-12 ">
														<p class="font-white">Hours: {{hours}}</p>
													</div>
												</div>
											</div>
											<div class="spacer"></div>
										</div>
									{{/each}}
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<footer>
		<a href="https://github.com/kylebutts/phone_your_rep">
			<i class="fa fa-github font-white icon" aria-hidden="true"></i>
		</a>
	</footer>

	<!-- Handlebars -->
	<script type="text/javascript">
	</script>

	<!-- reCAPTCHA  -->
	<!-- Product Hunt -->
	<script>
		var _intro_bar = window._intro_bar || {};
		(function() {
			var i, e;
			i = document.createElement("script"), i.type = 'text/javascript';
			i.async = 1, i.src = "//cdn.introbar.com/js/v1.js", e = document.getElementsByTagName("script")[0], e.parentNode.insertBefore(i, e);
		})();
		_intro_bar.account_id = '5890f4d409378';
	</script>

</body>

</html>
